<footer class="footer">
  <div class="footer" id="contact">
    <div class="container">
      <a href="https://github.com/nikeshbajaj" onclick="trackOutboundLink(this);"><img alt="NikB" src="{{ "/assets/images/github-art.svg" | relative_url }}" style="width:80px;height:60px;"></a>
      <a href="https://linkedin.com/in/bajajnikesh" onclick="trackOutboundLink(this);"><img alt="NikB" src="{{ "./assets/images/linkedin-art.svg" | relative_url }}" style="width:80px;height:50px;"></a>
      <a href="https://twitter.com/nikeshbajaj" onclick="trackOutboundLink(this);"><img alt="NikB" src="{{ "/assets/images/twitter-art.svg" | relative_url }}" style="width:80px;height:50px;"></a>
      <a href="https://scholar.google.com/citations?user=UEOU4boAAAAJ&hl" onclick="trackOutboundLink(this);"><img alt="NikB" src="{{ "/assets/images/google-scholar.svg" | relative_url }}" style="width:80px;height:50px;"></a>
      <a href="http://nikeshbajaj.in" onclick="trackOutboundLink(this);"><img alt="NikB" src="{{ "/assets/images/home-art.svg" | relative_url }}" style="width:80px;height:50px;"></a>
    </div>
  </div>
  <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=080808&w=a&t=n&d=vpHC-etFr8zpKrvxeNWU7YvMQQuQYKB3CO42YOpmx1U&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=808080'></script>
</footer>
