<footer class="footer">
  <div class="footer" id="contact">
    <div class="container">
      <a href="https://github.com/nikeshbajaj" onclick="trackOutboundLink(this);"><img alt="NikB" src="{{ "/assets/images/github-art.svg" | relative_url }}" style="width:80px;height:60px;"></a>
      <a href="https://linkedin.com/in/nikeshbajaj" onclick="trackOutboundLink(this);"><img alt="NikB" src="{{ "./assets/images/linkedin-art.svg" | relative_url }}" style="width:80px;height:50px;"></a>
      <a href="https://twitter.com/nikeshbajaj" onclick="trackOutboundLink(this);"><img alt="NikB" src="{{ "/assets/images/twitter-art.svg" | relative_url }}" style="width:80px;height:50px;"></a>
      <a href="https://scholar.google.com/citations?user=UEOU4boAAAAJ&hl" onclick="trackOutboundLink(this);"><img alt="NikB" src="{{ "/assets/images/google-scholar.svg" | relative_url }}" style="width:80px;height:50px;"></a>
      <a href="http://nikeshbajaj.in" onclick="trackOutboundLink(this);"><img alt="NikB" src="{{ "/assets/images/home-art.svg" | relative_url }}" style="width:80px;height:50px;"></a>
    </div>
  </div>
</footer>
