<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--<base href="../../">-->
<base href=".">
<!-- <link href="https://nikeshbajaj.github.io/teaching" rel="canonical">
<link href="./assets/bootstrap.min.css" rel="stylesheet">
<link href="./assets/style.min.css" rel="stylesheet" type="text/css"> -->
<!-- <link href="./assets/font-awesome.min.css" rel="stylesheet"> -->
<!-- <body data-offset="50" data-spy="scroll" data-target=".navbar"> -->
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header"> <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button"> <span class="icon-bar"></span>
      <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a
        class="navbar-brand" href="https://nikeshbajaj.github.io/teaching" onclick="trackOutboundLink(this);"> <img alt="NikB" src="{{ "/assets/home-art.svg" | relative_url }}" style="padding: 15px 15px; width: 60px; margin-left: 15px; margin-right: 5px;"> </a>
      <p class="navbar-text">
        <font color="#dddddd">Nikesh Bajaj</font>
      </p>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="http://nikeshbajaj.in/profile" onclick="trackOutboundLink(this);">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-center">
        <li><a href="{{ "#" | relative_url }}" onclick="trackOutboundLink(this);">Teaching</a></li>
        <li><a href="{{ "/demos" | relative_url }}" onclick="trackOutboundLink(this);">Demos</a></li>
        <li><a href="https://github.com/Nikeshbajaj" onclick="trackOutboundLink(this);">Github</a></li>
        <li><a href="/software" onclick="trackOutboundLink(this);">Software/Code</a></li>
      </ul>
      <div class="collapse navbar-collapse" data-target="None" id="HiddenNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://nikeshbajaj.in/" onclick="trackOutboundLink(this);">Homepage</a></li>
          <p class="navbar-text">
            <font color="#dddddd">|</font>
          </p> <a class="navbar-brand" href="https://www.imperial.ac.uk/people/n.bajaj" onclick="trackOutboundLink(this);" style="padding: 0px;"> <img alt="ICL" src="{{ "/assets/logo.png" | relative_url }}"
              style="padding: 15px 15px; width: 60px; margin-left: 15px; margin-right: 5px;"> </a>
        </ul>
      </div>
    </div>
  </div>
</nav>