<div id="sidebar-wrapper">
    <div class="sidebar-top">
      <li class="sidebar-title"> <a href="https://stanford.edu/~shervine/teaching/cs-230"><img alt="Stanford"
            src="./CS 230 - Recurrent Neural Networks Cheatsheet_files/stanford-logo.png"
            style="width: 15px;">&nbsp;&nbsp;&nbsp;<b>CS 230 - Deep Learning</b></a> </li>
      <li class="sidebar-brand"> <a
          href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#">
          <div> <span style="color:white">Recurrent Neural Networks</span> </div>
        </a> </li>
    </div>
    <ul class="sidebar-nav">
      <li class="active">
        <div class="dropdown-btn"><a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#overview">Overview</a>
        </div>
        <div class="dropdown-container"> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#overview"><span>Architecture
              structure</span></a> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#overview"><span>Applications
              of RNNs</span></a> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#overview"><span>Loss
              function</span></a> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#overview"><span>Backpropagation</span></a>
        </div>
      </li>
      <li>
        <div class="dropdown-btn"><a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#architecture">Handling
            long term dependencies</a></div>
        <div class="dropdown-container"> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#architecture"><span>Common
              activation functions</span></a> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#architecture"><span>Vanishing/exploding
              gradient</span></a> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#architecture"><span>Gradient
              clipping</span></a> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#architecture"><span>GRU/LSTM</span></a>
          <a href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#architecture"><span>Types
              of gates</span></a> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#architecture"><span>Bidirectional
              RNN</span></a> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#architecture"><span>Deep
              RNN</span></a> </div>
      </li>
      <li>
        <div class="dropdown-btn"><a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#word-representation">Learning
            word representation</a></div>
        <div class="dropdown-container"> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#word-representation"><span>Notations</span></a>
          <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#word-representation"><span>Embedding
              matrix</span></a> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#word-representation"><span>Word2vec</span></a>
          <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#word-representation"><span>Skip-gram</span></a>
          <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#word-representation"><span>Negative
              sampling</span></a> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#word-representation"><span>GloVe</span></a>
        </div>
      </li>
      <li>
        <div class="dropdown-btn"><a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#comparing-words">Comparing
            words</a></div>
        <div class="dropdown-container"> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#comparing-words"><span>Cosine
              similarity</span></a> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#comparing-words"><span>t-SNE</span></a>
        </div>
      </li>
      <li>
        <div class="dropdown-btn"><a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#language-model">Language
            model</a></div>
        <div class="dropdown-container"> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#language-model"><span>n-gram</span></a>
          <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#language-model"><span>Perplexity</span></a>
        </div>
      </li>
      <li>
        <div class="dropdown-btn"><a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#machine-translation">Machine
            translation</a></div>
        <div class="dropdown-container"> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#machine-translation"><span>Beam
              search</span></a> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#machine-translation"><span>Length
              normalization</span></a> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#machine-translation"><span>Error
              analysis</span></a> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#machine-translation"><span>Bleu
              score</span></a> </div>
      </li>
      <li>
        <div class="dropdown-btn"><a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#attention">Attention</a>
        </div>
        <div class="dropdown-container"> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#attention"><span>Attention
              model</span></a> <a
            href="https://stanford.edu/~shervine/teaching/cs-230/cheatsheet-recurrent-neural-networks#attention"><span>Attention
              weights</span></a> </div>
      </li>
    </ul>
    <center>
      <div class="sidebar-footer">
        <li> <a
            href="https://github.com/afshinea/stanford-cs-230-deep-learning/blob/master/en/cheatsheet-recurrent-neural-networks.pdf"
            style="color: white; text-decoration:none;"> <i aria-hidden="false" class="fa fa-github fa-fw"></i> View
            PDF version on GitHub </a> </li>
      </div>
    </center>
  </div>
